/* Basic Style */
html body {
    background: #ffffff;
    color: #333;
    font-family: Lato, sans-serif;
}

html body .container {
    display: flex;
    flex-direction: column;
    width: 600px;
    margin: 100px auto 0;
}

html body ul {
    margin: 0px;
    padding: 0;
}

html body li, html body h3 {
    clear :both;
    list-style :none;
}

html body button:hover {
    color: #333;
}

html body input[type="text"] {
    margin: 0;
    font-size: 18px;
    line-height: 18px;
    height: 18px;
    padding: 10px;
    border: 1px solid #ddd;
    background: #fff;
    border-radius: 6px;
    font-family: Lato, sans-serif;
    color: #888;
}

html body h3,
html body label[for='new-task'] {
    color: #333333;
    font-weight: 700;
    font-size: 15px;
    border-bottom: 2px solid #333;
    padding: 30px 0 10px;
    margin: 0px;
    text-transform: uppercase;
}

html body button {
    background: none;
    border: 0px;
    color: #888888;
    font-size: 15px;
    width: 60px;
    margin: 10px 0 0;
    font-family: Lato, sans-serif;
    cursor: pointer;;
}

/* Task list */
html body li {
    overflow: hidden;
    padding: 20px 0px;
    border-bottom: 1px solid #eee;
}


/* Completed */
html body #completed-tasks label {
    text-decoration: line-through;
    color: #888;
}

html body li > input[type="checkbox"] {
    margin: 0 10px;
    top: 15px;
}

html body li > label {
    font-size:18px;
    line-height: 40px;
    padding:0 0 0 11px;
}

html body li > .delete:hover {
    color: #CF2323;
}

/* Edit Task */
html body ul li input[type=text] {
    display: none;
}

html body ul li.editMode input[type=text] {
    display: block;
}

html body ul li.editMode label {
    display: none;
}

button:focus{
    border-radius: 5px;
    border: 1px solid #484646;
}
button {
    margin-left: .7em !important;
}

li {
    margin-top: 1em;
}

li > input[type="text"], li > label{
    width: 100%;
}


input[type="text"]:focus {
    border: 1px solid black !important;
}

input[type="checkbox"]:focus {
    outline: 1px solid black;
}

li {
    display: flex;
    align-items: center;
}

.d-flex {
    display: flex;
}

.a-center {
    align-items: center;
}

.fg-1 {
    flex-grow: 1;
}

.fg-2 {
    flex-grow: 2;
}

.full-width {
    width: 100%;
}

@media only screen and (max-width: 375px) {
    html body .container {
        display: flex;
        flex-direction: column;
        margin: 0;
    }
}